<div class="container">


<h1>商品一覧</h1>
<table class="table">
    <thead>
        <tr>
            <th>商品ID</th>
            <th>タイトル</th>
            <th>フォーマット</th>
            <th>アーティスト名</th>
            <th>発売日</th>
            <th>価格(税抜)</th>
            <th>在庫数</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @items.each do |item| %>
        <tr>
            <td> <%=link_to item.id,admin_item_path(item.id) %></td>
            <td><%= item.name %></td>
            <td><%=item.is_selling %></td>
            <td><%=Artist.find(item.artist_id).name %></td>
            <td><%=item.release_date %></td>
            <td><%=item.prices %></td>
            <td>zaikosu</td>
            <td><%= link_to "入荷", admin_ready_items_path(id: item.id), method: :post %></td>
        </tr>
        <% end %>
    </tbody>
</table>
<%= link_to "入荷一覧", admin_ready_items_path %>
</div>
