
<%= form_for(@item, url: '/admin/items') do |f| %>

    <h4>タイトル</h4>
    <%= f.text_field :name %>

    <h4>アーティスト名</h4>
    <%= f.text_area :artist_id %>

    <h4>
        <label><%= f.radio_button :format, true %>シングル</label>
        <label><%= f.radio_button :format, false %>アルバム</label>
    </h4>

    <h4>ジャケット画像</h4>
    <%= f.attachment_field :jacket_image %>

    <h4>価格（税抜き）</h4>
    <%= f.text_area :prices %>

    <h4>発売日</h4>
    <%= f.text_area :release_date %>

    <h4>レーベル</h4>
    <%= f.text_area :label_id %>

    <h4>ジャンル</h4>
    <%= f.text_field :genre_id %>

    <h4>
        <label><%= f.radio_button :is_selling, true %>販売中</label>
        <label><%= f.radio_button :is_selling, false %>販売停止中</label>
    </h4>

    <h4>収録曲数</h4>
    <%= f.text_field :quantity %>

    <%= f.submit '登録'%>

<% end %>
