<div class="container">
  <div class="row">
    <div class="col-md-2">

      <%= form_tag(admin_arrived_items_search_path, method: :get) do %>

          <%= label :name, "タイトル名" %>
          <%= text_field_tag :name %>

          <%= label :artist, "アーティスト名" %>
          <%= collection_select(:artist, :id, @artists, :id, :name, :include_blank => '指定なし') %>

          <%= label :format, "シングル/アルバム" %>
          <label>シングル<%= check_box_tag :single, 1 %></label>
          <label>アルバム<%= check_box_tag :album,  0 %></label>

          <%= label :label, "レーベル" %>
          <%= collection_select(:label, :id, @labels, :id, :name, :include_blank => '指定なし') %>

          <%= label :genre, "ジャンル" %>
          <%= collection_select(:genre, :id, @genres, :id, :name, :include_blank => '指定なし') %>

          <%= label :date, "入荷日" %>
          <label><%= date_field_tag :date_from %></label>
          <label><%= date_field_tag :date_to %></label>

          <%= submit_tag "検索", :name => nil %>

      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <h1>入荷履歴</h1>
  <table class="table">
    <thead>
      <tr>
        <th>入荷日</th>
        <th>商品ID</th>
        <th>ジャケット</th>
        <th>タイトル</th>
        <th>フォーマット</th>
        <th>アーティスト</th>
        <th>レーベル</th>
        <th>ジャンル</th>
        <th>税抜価格</th>
        <th>入荷数</th>
      </tr>
    </thead>
    <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.date.strftime("%Y年 %m月 %d日") %></td>
        <td> <%=link_to item.item.id, admin_item_path(item.item.id) %></td>
        <td><%= item.item.jacket_image_id %></td>
        <td><%= item.item.name %></td>
        <td><%= item.item.is_selling %></td>
        <td><%= item.item.artist.name %></td>
        <td><%= item.item.label.name %></td>
        <td><%= item.item.genre.name %></td>
        <td><%= item.item.prices %></td>
        <td><%= item.quantity %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
