<div class="container">
	<h1 class="page-title bg-white">受注履歴</h1>
	<table class="table">
		<tbody>
			<%= form_tag(admin_orders_search_path, method: :get) do %>
			<tr>
				<th>購入者</th>
				<td colspan="2">
					<%= label :name, "" %>
                	<%= text_field_tag :name %>
				</td>
			</tr>
			<tr>
				<th>購入日</th>
				<td colspan="2">
					<%= date_field_tag :created_at %>
				</td>
			</tr>
			<tr>
				<th>注文番号</th>
				<td colspan="2">
					<%= label :id, "" %>
                	<%= text_field_tag :id %>
				</td>
			</tr>
			<tr>
				<th>ステータス</th>
				<td>
					<%= label :order_status, "" %>
                	<%= text_field_tag :order_status %>
				</td>
				<td>
					<%= submit_tag "検索", :name => nil, class: "btn btn-sm" %>
					<% end %>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="table">
		<thead>
			<tr>
				<th>受注日</th>
				<th>注文ID</th>
				<th>購入者</th>
				<th>税込総計（円）</th>
				<th>購入点数</th>
				<th>ステータス</th>
			</tr>
		</thead>
		<tbody>
			<% @orders.each do |order| %>
			<tr>
				<td><%= order.created_at.strftime('%Y/%m/%d') %></td>
				<td><%= order.id %></td>
				<td><%= order.name %></td>
				<td><%= order.tax_in_total_price %></td>
				<td><%= OrderDetail.where(order_id: order.id).sum(:order_quantity) %></td>
				<td><%= link_to order.order_status, admin_order_path(order.id) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>