<div class="container">
<h1>受注履歴詳細</h1>
<br>
<br>
<h2>注文内容</h2>
<table class="table">
	<thead>
		<tr>
			<th>受注日</th>
			<th>受注ID</th>
			<th>支払方法</th>
			<th>税込送料</th>
			<th>注文点数</th>
			<th>ステータス</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
			<td><%= @order.id %></td>
			<td><%= @order.payment_method %></td>
			<td><%= TaxInPostage.find(@order.tax_in_postage_id).price %></td>
			<td><%= @order.tax_in_total_price %></td>
			<td><%= @order.order_status %></td>
		</tr>
	</tbody>
</table>
<br>
<br>
<h2>注文商品</h2>	
<table class="table">
	<thead>
		<tr>
			<th>商品ID</th>
			<th>タイトル</th>
			<th>アーティスト</th>
			<th>レーベル</th>
			<th>税込単価</th>
			<th>枚数</th>
			<th>税込小計</th>
		</tr>
	</thead>
	<tbody>
		<% @order_details.each do |detail| %>
		<tr>
			<td><%= detail.item_id %></td>
			<td><%= Item.find(detail.item_id).name %></td>
			<td><%= Artist.find(Item.find(detail.item_id).artist_id).name %></td>
			<td><%= Label.find(Item.find(detail.item_id).label_id).name %></td>
			<td><%= detail.price %></td>
			<td><%= detail.order_quantity %></td>
			<td><%= detail.price * detail.order_quantity %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<br>
<br>
<h2>配送先</h2>
<table class="table">
	<thead>
		<tr>
			<th>名前</th>
			<th>郵便番号</th>
			<th>住所</th>
			<th>電話番号</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @order.name %></td>
			<td><%= @order.post_code %></td>
			<td><%= @order.address %></td>
			<td><%= @order.phone_number %></td>
		</tr>
	</tbody>
</table>
<%= form_with(url: admin_order_path(params[:id]), method: :patch)  do |f| %>
<%= f.select :order_status, Order.order_statuses, :selected=>Order.order_statuses[@order.order_status] %>
<%= f.submit "更新" %>
<% end %>
<%= link_to "戻る", admin_orders_path %>
</div>
<br>
<br>
<br>
<br>

