<div class="container">
	<h1 class="page-title">入荷予定商品一覧</h1>
	<table class="table">
		<thead>
			<tr>
				<th>アイテムID</th>
				<th>タイトル</th>
				<th>フォーマット</th>
				<th>アーティスト</th>
				<th>税別金額（円）</th>
				<th>入荷枚数</th>
				<th></th>
			</tr>
		</thead>
		<tbody>

      <%= form_tag(admin_arrived_items_path, method: :post) do %>
        <% @arrived_items.each.with_index(1) do |item,idx| %>
          <%= fields_for "item[]", item do |f| %>
            <tr>
              <td><%= item.item.id %></td>
              <%= f.hidden_field :item_id, :value => item.item.id %>
              <td><%= item.item.name %></td>
              <td><%= item.item.format %></td>
              <td><%= item.item.artist.name %></td>
              <td><%= item.item.prices %></td>
              <td><%= f.number_field :quantity %></td>
              <td><%= link_to "削除", admin_ready_item_path(item.item.id), method: :delete %></td>
            </tr>
    </tbody>
  <% end %>
<% end %>
  </table>
  <br>
<!--   <div class="container">
    <div class="row">
      <div class='col-sm-6'>
        <div class="form-group"> -->
          <div class='input-group date datetimepicker' id='datetimepicker2' style='width: 200px'>
            <%= text_field_tag :date, nil, {class: "form_control form-with-calender"}%>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
<!--         </div>
      </div>
    </div>
  </div> -->

  <%= submit_tag "登録", class: "btn btn-sm", local: true %>

<% end %>


<div class="page-under-space-100"></div>
<div class="page-under-space-100"></div>
<div class="page-under-space-100"></div>
