<h1 class="title">マイページ</h1>


<div class="container mypage">
  <div class="row">
    <div class="col-sm-1">
        <%= link_to "購入履歴", orders_path(current_customer.id), class:"btn btn-lg" %> <br>
        <%= link_to "いいねした商品", likes_path(current_customer.id), class:"btn btn-lg" %> <br>
        <%# "deletメソッドを使用しているが、実際はdevise/registrationへのリダイレクトのみ%>
        <%= link_to "退会手続き", destroy_customer_path(current_customer.id), method: :delete, class:"btn btn-lg"%> <br>

    </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <h2>基本情報</h2>
          <div class="profile">
            <p class="profile-content">
            <%= @customer.last_name %> <%= @customer.first_name %>
            (<%= @customer.last_furigana %> <%= @customer.first_furigana %>)
            </p>

            <p class="profile-content">
            <%= @customer.post_code %> <br>
            <%= @customer.address %>
            </p>

            <p class="profile-content">
            <%= @customer.phone_number %> <br>
            <%= @customer.email %>
            <%= link_to '変更する', edit_customer_registration_path, class:"btn btn-secondary" %>
            </p>
          </div>

          <% if @deliveries %>
            <h2>追加のお届け先</h2>
            <div class="profile">
              <% @deliveries.each do |delivery| %>
                <% unless delivery.last_name.nil? %>

                  <p class="profile-content">
                  <%= delivery.last_name %> <%= delivery.first_name %>
                  (<%= delivery.last_furigana %> <%= delivery.first_furigana %>)
                  </p>

                  <p class="profile-content">
                  <%= delivery.post_code %> <br>
                  <%= delivery.address %> <br>
                  <%= delivery.phone_number %>
                  <%= link_to '削除する', delivery_path(delivery), method: :delete, class:"btn btn-secondary" %>
                  </p>
            </div>
          <% end %>

        <% end %>
      <% end %>

<%= render 'layouts/error_message', model: @deli %>
      <div class="row">
        <div class="col-sm-8">
          <button class="btn add-button">お届け先を追加する</button>
          <div class="delivery-add">
            <%= form_for @delivery, url:deliveries_path do |f| %>
              <div class="field">
                <%= f.label :"名前（姓・名）" %><br />
                <%= f.text_field :last_name,  autocomplete: "last_name", autofocus: true %>
              </div>
              <div class="field">
                <%= f.text_field :first_name,  autocomplete: "first_name" %>
              </div>

              <div class="field">
                <%= f.label :"名前（カナ姓・カナ名）"%><br />
                <%= f.text_field :last_furigana,  autocomplete: "last_furigana" %>
              </div>
              <div class="field">
                <%= f.text_field :first_furigana,  autocomplete: "first_furigana" %>
              </div>

              <div class="field">
                <%= f.label :"電話番号" %><br />
                <%= f.text_field :phone_number,  autocomplete: "phone_number" %>
              </div>

              <div class="field">
                <%= f.label :"郵便番号" %><br />
                <%= f.text_field :post_code,  autocomplete: "post_code" %>
              </div>

              <div class="field">
                <%= f.label :"住所" %><br />
                <%= f.text_field :address,  autocomplete: "address" %>
              </div>

              <div class="actions">
                <%= f.submit "追加する", class:"btn add-button" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

        </div>
      </div>
  </div>
</div>
