<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3>
        <div class="login-title">
          <span class="glyphicon glyphicon-user" aria-hidden="true">パスワード再発行</span>
        </div>
      </h3>

      <div class="login-form">
      	<p>登録したメールアドレスを入力してパスワードを再発行するを押してください。</p>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= render "devise/shared/error_messages", resource: resource %>

		  <div class="field">
		    <%= f.label :"メールアドレス" %><br />
		    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
		  </div>

		  <div class="actions">
		    <%= f.submit "パスワードを再発行する", class:"btn btn-primary" %>
		  </div>
		<% end %>
      </div>
		

		<%# render "devise/shared/links" %>
    </div>
  </div>
</div>



