<div class="container cart">
	<table class="table mb-5">
		<thead>
			<tr>
				<th>明細</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="t-right">注文日　|</td>
				<td><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
				<td></td>
				<td class="t-right">点数　|</td>
				<td><%= @order_details.sum(:order_quantity) %>点</td>
				<td></td>
			</tr>
			<tr>
				<td class="t-right">送料　|</td>
				<td>¥<%= TaxInPostage.find(@order.tax_in_postage_id).price %>（税込）</td>
				<td></td>
				<td class="t-right">合計金額　|</td>
				<td>¥<%= @order.tax_in_total_price %>（税込）</td>
				<td></td>
			</tr>
			<tr>
				<td class="t-right">配送先　|</td>
				<td><%= @order.address %></td>
				<td></td>
				<td class="t-right">氏名　|</td>
				<td><%= @order.name %><%= @order.furigana %></td>
				<td></td>
			</tr>
			<tr>
				<td class="t-right">支払方法　|</td>
				<td><%= @order.payment_method %></td>
				<td></td>
				<td class="t-right">ステータス　|</td>
				<td><%= @order.order_status %></td>
				<td></td>
			</tr>
		</tbody>
	</table>


	<table class="table mb-5">
		<thead>
			<tr>
				<th>注文商品</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>商品番号</td>
				<td>タイトル</td>
				<td>アーティスト</td>
				<td>枚数</td>
				<td>価格（税込）</td>
			</tr>
			<% @order_details.each do |order| %>
			<tr>
				<td><%= order.id %></td>
				<td><%= Item.find(order.item_id).name %></td>
				<td><%= Artist.find(Item.find(order.item_id).artist_id).name %></td>
				<td><%= order.order_quantity %></td>
				<td><%= order.price %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<%= link_to "戻る", orders_path, class: "btn btn-sm" %>
	<div class="page-under-space-100"></div>

</div>