<div class="container">
	<h1>購入履歴詳細</h1>
	<table class="table">
		<tbody>
			<tr>
				<th>情報</th>
				<td><%= @order.created_at %>　　　<%= @order_details.sum(:order_quantity) %>点　　送料：¥<%= TaxInPostage.find(@order.tax_in_postage_id).price %>（税込）　合計金額：¥<%= @order.tax_in_total_price %>（税込）</td>
			</tr>
			<tr>
				<th>配送先</th>
				<td><%= @order.adress %></td>
			</tr>
			<tr>
				<th>氏名</th>
				<td>カラムなしのため、未対応</td>
			</tr>
			<tr>
				<th>ステータス</th>
				<td><%= @order.order_status %></td>
			</tr>
		</tbody>
	</table>


	<table class="table">
		<thead>
			<tr>
				<th>id</th>
				<th>タイトル</th>
				<th>アーティスト</th>
				<th>枚数</th>
				<th>価格（税込）</th>
			</tr>
		</thead>
		<tbody>
			<% @order_details.each do |order| %>
			<tr>
				<td><%= order.id %></td>
				<td><%= Item.find(order.item_id).name %></td>
				<td><%= Artist.find(Item.find(order.item_id).artist_id).name %></td>
				<td><%= order.order_quantity %></td>
				<td><%= order.price %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>