

<p>ログインID＝<%=  @current_customer.id %></p>
<h1>カート商品一覧</h1>


<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>商品ID</th>
				<th>顧客ID</th>
				<th>商品点数</th>
			</tr>
		</thead>
		<tbody>
			<% @cart_items.each do |item| %>
			<tr>
				<td><%= item.id %></td>
				<td><%= item.item_id %></td>
				<td><%= item.customer_id %></td>
				<td><%= item.quantity %></td>
				<td><%= link_to "削除", destroy_cart_path(item.id), method: :delete %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

	<br>
	<br>
