<div class="container">
	<p>お届け先・お支払い方法</p>
	<div class="container">
		<p>お届け先</p>
		<table class="table">
			<thead>
				<tr>
					<th>選択</th>
					<th>郵便番号</th>
					<th>住所</th>
					<th>名前</th>
					<th>電話番号</th>
				</tr>
			</thead>
			<tbody>
				<%= form_tag carts_confirm_path, method: :get do %>
				<tr>
					<td><%= radio_button_tag "address", "0", checked = true %></td>
					<td>〒<%= @customer.post_code %></td>
					<td><%= @customer.address %></td>
					<td><%= @customer.last_name + @customer.first_name %></td>
					<td>TEL：<%= @customer.phone_number %></td>
				</tr>
				<% @deliveries.each_with_index do |d, index| %>
				<tr>
					<td><%= radio_button_tag "address", index+1 %></td>
					<td><%= d.post_code %></td>
					<td><%= d.address %></td>
					<td><%= d.last_name + d.first_name %></td>
					<td><%= d.phone_number %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<h2>お支払い方法</h2>
	<table class="table" style="width: 50%;">
		<tbody>
			<tr>
				<td><%= radio_button_tag :pay, "0", checked = true %></td>
				<td>現金振込</td>
			</tr>
			<tr>
				<td><%= radio_button_tag :pay, "1" %></td>
				<td>クレジットカード</td>
			</tr>
			<tr>
				<td><%= radio_button_tag :pay, "2" %></td>
				<td>代金引換</td>
			</tr>
		</tbody>
	</table>
	<br>
	<br>
	<p><%= submit_tag "注文確認" %></p>
	<% end %>








<h2>お届け先の追加</h2>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>名前</th>
					<th>ナマエ</th>
					<th>郵便番号</th>
					<th>住所</th>
					<th>電話番号</th>
				</tr>
			</thead>
			<%= form_for @delivery, url: cart_address_path, method: :post do |f| %>
			<tbody>
				<tr>
					<td>追加</td>
					<td><%= f.text_field :last_name %><%= f.text_field :first_name %></td>
					<td><%= f.text_field :last_furigana %><%= f.text_field :first_furigana %></td>
					<td><%= f.text_field :post_code %></td>
					<td><%= f.text_field :address %></td>
					<td><%= f.text_field :phone_number %></td>
					<td><%= f.submit "追加" %></td>
				</tr>
			</tbody>
			<% end %>
		</table>

		</div>
