<div class="container">

  <h3 class="page-title">管理者用ログイン</h3>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :"メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "margin-bottom: 20px" %>
    </div>

    <div class="field">
      <%= f.label :"パスワード" %><br />
      <%= f.password_field :password, autocomplete: "current-password", style: "margin-bottom: 20px" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label "ログイン状態を保持する" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>

   <%= render "admins/shared/links" %>

<% end %>
<div class="page-under-space-100"></div>
<div class="page-under-space-100"></div>
<div class="page-under-space-100"></div>
<div class="page-under-space-100"></div>

</div>
