<div class="container">
    <h1>商品一覧</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ジャケット</th>
                <th>タイトル</th>
                <th>アーティスト名</th>
                <th>レーベル名</th>
                <th>価格（税込）</th>
            </tr>
        </thead>
         <% @items.each do |item| %>
        <tbody>
            <tr>
                <td><%= link_to attachment_image_tag(item, :jacket_image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.png",size: "100x100" ), item_path(item.id) %></td>
                <td><%= link_to item.name, item_path(item.id) %></td>
                <td><%= link_to Artist.find(item.artist_id).name, item_path(item.id) %></td>
                <td><%= link_to Label.find(item.label_id).name, item_path(item.id) %></td>
                <td><%= (item.prices * (Tax.last.rate + 1)).floor %></td>
            </tr>
        </tbody>
         <% end %>
    </table>
</div>

<%# 検索フォーム %>
<%= render 'items/item_search', artists_search:@artists_search, labels_search:@labels_search, genres_search:@genres_search %>
<%# いいねランキング %>
<%= render 'likes/ranks', likes_ranks:@likes_ranks, likes_ranks_count:@likes_ranks_count, ranks_number:@ranks_number %>
