<div class="container">
    <div class="row">
        <div class="mv">
        </div>
        <div class="col-sm-3">
            <div class="sidebar">
              <div class="kensaku"><h3>詳細検索</h3>
                <%# 検索フォーム %>
                <%= render 'items/item_search', artists_search:@artists_search, labels_search:@labels_search, genres_search:@genres_search %>
                </div>
                <div class="iine"><h4>週間いいねランキング</h4>
                <%# いいねランキング %>
                <%= render 'likes/ranks', likes_ranks:@likes_ranks, likes_ranks_count:@likes_ranks_count, ranks_number:@ranks_number %>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <!-- <h1>商品一覧</h1> -->
            <!-- <table class="table">
                <thead>
                    <tr>
                        <th>ジャケット</th>
                        <th>タイトル</th>
                        <th>アーティスト名</th>
                        <th>レーベル名</th>
                        <th>価格（税込）</th>
                    </tr>
                </thead>
            </table> -->
            <div class="music">
            <% @items.each do |item| %>
                <div class="m-box">
                    <div class="m-image">
                        <%= link_to attachment_image_tag(item, :jacket_image, :fill, 150, 150, format: 'jpeg',fallback: "no_image.png",size: "150x150" ), item_path(item.id) %>
                    </div>
                    <div class="m-text">
                        <p class="m-content"><%= link_to item.name, item_path(item.id) %></p>
                        <p class="m-content"><%= link_to Artist.find(item.artist_id).name, item_path(item.id) %></p>
                        <!-- <p><%= link_to Label.find(item.label_id).name, item_path(item.id) %></p> -->
                        <p class="m-content">￥<%= (item.prices * (Tax.last.rate + 1)).floor %>(税込)</p>
                    </div>
                </div>
            <% end %>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="pages">
                <%= paginate @items, class: "paginate" %>
            </div>
        </div>
    </div>
</div>




<br>
<br>
<br>
