
	<h4>ジャケット画像</h4>
    <%= attachment_image_tag @item, :jacket_image, :fill, 300, 300, format: 'jpeg' %>

    <h1>タイトル</h1>
    <p><%= @item.name %></p>
 
    <h3>アーティスト名</h3>
    <p><%= @item.artist_id %></p>

    <h4>シングル/アルバム</h4>
    <p><%= @item.format %></p>
 
    <h4>価格</h4>
    <p><%= @item.prices %></p>

    <h4>発売日</h4>
    <p><%= @item.release_date%></p>

    <h4>レーベル</h4>
    <p><%= @item.label_id %></p>

    <h4>税率</h4>
    <p><%= @item.tax_id %></p>

    <h4>ジャンル</h4>
    <p><%= @item.genre_id %></p>
 

    <h4>ステータス</h4>
    <p><%= @item.is_selling %></p>

    <%=link_to "カート", carts_path %>
