<div class="container">
    <div class="row">

        <div class="col-sm-3">
            <div class="sidebar">
              <div class="kensaku"><h4><b>詳細検索</b></h4>
                <%# 検索フォーム %>
                <%= render 'items/item_search', artists_search:@artists_search, labels_search:@labels_search, genres_search:@genres_search %>
                </div>
                <div class="iine"><h4>週間いいねランキング</h4>
                <%# いいねランキング %>
                <%= render 'likes/ranks', likes_ranks:@likes_ranks, likes_ranks_count:@likes_ranks_count, ranks_number:@ranks_number %>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="show-image">
                <%= attachment_image_tag @item, :jacket_image, :fill, 300, 300, format: 'jpeg',fallback: "no_image.png",size: "300x300" %>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="show-text">
                <p class="show-content"><%= @item.name %></p>
                <p class="show-content"><%= Artist.find(@item.artist_id).name %></p>
                <p class="show-content"><% if @item.format %>シングル<% else %>アルバム<% end %></p>
                <p class="show-content">価格 ： ¥<%= (@item.prices * (Tax.last.rate + 1)).floor %>（税込）</p>
                <p class="show-content">発売日 ： <%= @item.release_date%></p>
                <p class="show-content">レーベル ： <%= Label.find(@item.label_id).name %></p>
                <p class="show-content">ジャンル ： <%= Genre.find(@item.genre_id).name %></p>
                <p class="show-content"><% if @item.is_selling %>販売中<% else %>販売停止中<% end %></p>
                <p class="show-content"><%= @item.quantity %>枚入り</p>

                <%= form_for [@item,@cart_item], url: item_carts_path(@item), html: {method: :post} do |f| %>
                    <% if @item.is_selling && @stock > 0 %>
                        数量 ：<%= f.select :quantity, options_for_select((1..@stock).to_a) %>
                        <%= f.hidden_field :item_id, :value => @item.id %>
                        <%= f.submit "Cart In", class: "btn btn-sm cart-in-btn" %>
                    <% else %>
                        <label>入荷待ちです</label>
                    <% end %>
                    <% end %>

                <p class="like">
                    <% if customer_signed_in? %>
                      <% if @likes.find_by(customer_id: current_customer.id) %>
                        <p>
                          <%= link_to item_likes_path(@item), method: :delete do %>
                          <span class="glyphicon glyphicon-heart"></span>
                          <% end %>
                        </p>
                      <% else %>
                        <p>
                          <%= link_to item_likes_path(@item), method: :post do %>
                          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                          <% end %>
                        </p>
                      <% end %>
                      <% else %>
                      <%! "ログインしないといいねボタンが表示されない" %>
                    <% end %>
                </p>
            </div>
        </div>
        <% @disks.each do |disk| %>
        <div class="col-sm-9">
            <div class="show-table">
                <table class="table">
                    <p><%= disk.disk_number %>枚目</p>
                    <thead>
                        <tr>
                            <th>Track.No</th>
                            <th>曲名</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% Track.where(disk_id: disk.id).each do |track| %>
                                <p>
                                    <tr>
                                        <td><%= track.track_number %></td>
                                        <td><%= track.name %></td>
                                    </tr>
                                </p>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        <% end %>
    </div>
</div>



<br>
<br>
<br>
