<h1>情報マスタ</h1>


<%= form_for @item do |f| %>

    <h4>アーティスト名</h4>
    <%= f.text_area :artist_id %>

    <%= f.submit '登録'%>

<% end %>


<table>

  <tbody>
    <% @items.each do |item| %>
      <tr>

        <td><%= item.id %></td>
        <td><%=item.artist_id %></td>

        <td><%= link_to '編集', info_index_path %></td>
        <td><%= link_to '削除', info_index_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

