<h1>情報マスタ</h1>

<%= form_for(@artists) do |f| %>
  <% if @artists.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artists.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @artists.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="名前">
    <%= f.label :artist %><br>
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <!-- <th>Age</th>
      <th>Note</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artists.name %></td>
        <!-- <td><%= user.age %></td>
        <td><%= user.note %></td> -->
        <td><%= link_to 'Show', info_index_path %></td>
        <td><%= link_to 'Edit', info_index_path %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
<h1>Info#index</h1>
<p>Find me in app/views/info/index.html.erb</p>
