<!DOCTYPE html>
<html>
  <head>
    <title>Naganoenbando</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header" class="">
      <div class="" style="height: 200px; width:100%; background-color: gray;">
        <h1>長野円盤堂</h1>
        <ul class="nav">
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "会員登録", new_user_registration_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "カート", carts_path %></li>
        </ul>
      </div>
    </header>
    <!-- /header -->
    <%= yield %>
  </body>
</html>
