<!DOCTYPE html>
<html>
  <head>
    <title>長野円盤堂</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header" class="customer-header">
      <div class="" style="height: 100px; width:80%; margin:0 auto 50px; padding: 10px; border-bottom: solid 1px">
        <h1><a href="/">長野円盤堂</a></h1>
        <ul class="navbar-nav nav">
          <li style="color: white"><%= link_to "Admin", admin_items_path %></li>
          <% if current_customer == nil %>
          <li style="color: white"><%= link_to "Log in", new_customer_session_path %></li>
          <li style="color: white"><%= link_to "Sign up", new_customer_registration_path %></li>
          <% else %>
          <li style="color: white"><%= link_to "Cart", carts_path %></li>
          <li style="color: white"><%= link_to "My page", show_customer_path(current_customer.id), date: {"turbolinks" => false} %></li>
        </ul>
        <ul class="navbar-nav nav pull-right">
          <li style="color: white"><%= link_to "ようこそ#{current_customer.last_name}さん", show_customer_path(current_customer.id), date: {"turbolinks" => false} %></li>
          <li style="color: white"><%= link_to "Log out", destroy_customer_session_path, method: :delete %></li>
          <% end %>
        </ul>

      </div>
    </header>
    <!-- /header -->
    <div class="end-user-body">
    <%= yield %>
    </div>
    <footer class="footer">
      <p>営業時間　11:00~23:00</p>
      <p>定休日　金曜日</p>
      <p>本社　〒150-0041 東京都渋谷区神南１丁目１９−１１ パークウェースクエア2 4階</p>
      <p>お問い合わせ　kotsuboon@gmail.com  03-6869-4700</p>
      <p>配送料　全国一律<%= TaxInPostage.last.price %>円（税込）</p>
    </footer>
  </body>
</html>
